body {
  font-size: 16px;

  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
}

* {
  letter-spacing: 0.02em;
}

p {
  margin-bottom: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}
