body,
button {
  letter-spacing: 0.02em;
}

p {
  margin-bottom: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
