<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %>｜職旅 WorkWay</title>
  </head>

  <body>
    <!-- navbar -->
    <%- include('./layout/navbar'); -%>

    <!-- page content -->
    <%- include(content) %>

    <!-- footer -->
    <%- include('./layout/footer'); -%>

    <!-- javascript -->
    <script type="module" src="../main.js"></script>
  </body>
</html>
