<footer class="footer my-bg-secondary py-6 py-sm-12">
  <div class="container">
    <div class="d-flex flex-column align-items-center gap-2 flex-xl-row justify-content-xl-between">
      <!-- menu -->
      <ul class="d-flex flex-wrap justify-content-center row-gap-2 fs-md">
        <li>
          <a class="nav-btn" href="#">服務方案</a>
        </li>
        <li>
          <a class="nav-btn" href="#">關於職旅</a>
        </li>
        <li>
          <a class="nav-btn" href="#">聯絡我們</a>
        </li>
        <li>
          <a class="nav-btn" href="#">隱私權政策</a>
        </li>
        <li>
          <a class="nav-btn" href="#">用戶條款</a>
        </li>
      </ul>

      <!-- copyright -->
      <p class="copyright font-tw fs-sm my-text-secondary">
        Copyright © 2025 職旅 workway. All rights reserved.
      </p>
    </div>
  </div>
</footer>
