<nav class="navbar navbar-expand-lg position-static border-bottom py-3">
  <div class="container">
    <!-- logo -->
    <a href="index.html">
      <img class="logo-img" src="../assets/images/logo.svg" alt="logo" />
    </a>

    <!-- open menu button -->
    <button
      class="btn btn-only-icon d-lg-none"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#navbarMenu"
      aria-controls="navbarMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="icon material-symbols-outlined">menu</span>
    </button>

    <!-- menu -->
    <div class="offcanvas offcanvas-end gap-4 p-6 gap-lg-0 p-lg-0" id="navbarMenu">
      <!-- close menu button -->
      <button
        class="btn btn-only-icon align-self-end d-lg-none"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#navbarMenu"
        aria-controls="navbarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="icon material-symbols-outlined">close</span>
      </button>

      <!-- menu items -->
      <ul
        class="navbar-nav flex-grow-1 gap-6 w-100 fs-md text-center flex-lg-grow-0 gap-lg-3 w-lg-auto mx-lg-auto"
      >
        <li>
          <a class="nav-btn w-100 py-4 py-lg-2" href="#">服務方案</a>
        </li>
        <li>
          <a class="nav-btn w-100 py-4 py-lg-2" href="#">關於職旅</a>
        </li>
        <li>
          <a class="nav-btn w-100 py-4 py-lg-2" href="#">聯絡我們</a>
        </li>
      </ul>

      <a class="btn btn-lg justify-content-center fs-2xl py-2 d-lg-none" href="#">登入/註冊</a>
    </div>

    <!-- avatar -->
    <a class="d-none align-items-center gap-2 d-lg-flex" href="#">
      <img
        class="avatar-img object-fit-cover rounded-circle border"
        src="../assets/images/avatar.png"
        alt="大頭貼"
      />
      <span class="fw-medium">Mokumaru</span>
    </a>
  </div>
</nav>
