@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');
@import 'vendors/material-symbols';

@import 'bootstrap/scss/functions';
@import 'utils/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'utils/utilities';
@import 'bootstrap';

@import 'base/base';
@import 'base/typography';

@import 'components/button';
@import 'components/card';
@import 'components/dropdown';
@import 'components/form';
@import 'components/table';
@import 'components/tag';

@import 'utils/helpers';

@import 'layout/navbar';
@import 'layout/footer';

@import 'pages/index';
@import 'pages/profile';
@import 'pages/reserve';
