.btn {
  --bs-btn-line-height: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: inherit;

  @include media-breakpoint-down(sm) {
    --bs-btn-padding-x: 12px;
    --bs-btn-border-radius: 12px;
    gap: 0;
  }

  &.active {
    pointer-events: none;
  }
}

.btn-md {
  --bs-btn-color: #{$light};
  --bs-btn-bg: #{$dark};
  --bs-btn-border-color: #{$dark};

  --bs-btn-hover-color: #{$dark};
  --bs-btn-hover-bg: #{$secondary};
  --bs-btn-hover-border-color: #{$secondary};

  --bs-btn-active-color: #{$dark};
  --bs-btn-active-bg: #{$secondary};
  --bs-btn-active-border-color: #{$secondary};

  .arrow-icon {
    margin-right: -8px;
  }
}

.btn-md-outline {
  --bs-btn-color: #{$dark};
  --bs-btn-bg: #{$light};
  --bs-btn-border-color: #{$natural-85};

  --bs-btn-hover-color: #{$dark};
  --bs-btn-hover-bg: #{$natural-90};
  --bs-btn-hover-border-color: #{$natural-90};

  --bs-btn-active-color: #{$dark};
  --bs-btn-active-bg: #{$natural-90};
  --bs-btn-active-border-color: #{$natural-90};

  .arrow-icon {
    margin-right: -8px;
  }
}

.btn-lg {
  --bs-btn-color: #{$dark};
  --bs-btn-bg: #{$secondary};

  --bs-btn-hover-color: #{$light};
  --bs-btn-hover-bg: #{$primary};

  --bs-btn-active-color: #{$light};
  --bs-btn-active-bg: #{$primary};

  --bs-btn-border-width: 0;
  --bs-btn-font-weight: 700;

  .arrow-icon {
    font-size: 28px;
    margin-right: -8px;
  }
}

.btn-only-icon {
  --bs-btn-color: #{$dark};
  --bs-btn-bg: transparent;

  --bs-btn-hover-color: #{$dark};
  --bs-btn-hover-bg: #{$natural-90};

  --bs-btn-active-color: #{$dark};
  --bs-btn-active-bg: #{$natural-90};

  --bs-btn-border-width: 0;
  --bs-btn-padding-x: 10px;
  --bs-btn-padding-y: 10px;

  .icon {
    font-size: 24px;
  }
}

.btn-sm {
  --bs-btn-color: #{$natural-50};
  --bs-btn-bg: #{$light};
  --bs-btn-border-color: #{$natural-85};

  --bs-btn-hover-color: #{$natural-50};
  --bs-btn-hover-bg: #{$natural-90};
  --bs-btn-hover-border-color: #{$natural-90};

  --bs-btn-active-color: #{$natural-50};
  --bs-btn-active-bg: #{$natural-90};
  --bs-btn-active-border-color: #{$natural-90};

  gap: 0;

  .arrow-icon {
    margin-right: -4px;
  }
}

.nav-btn {
  color: $body-color;
  border: 1px solid transparent;
  border-radius: $border-radius-md;
  padding: 8px 24px;

  @include media-breakpoint-down(sm) {
    border-radius: $border-radius-sm;
    padding: 8px 16px;
  }

  &-outline {
    border-color: $natural-85;
  }

  &:hover {
    border-color: $natural-90;
    background-color: $natural-90;
  }
}
