.card {
  box-shadow: var(--bs-card-box-shadow);

  @include media-breakpoint-down(sm) {
    --bs-card-border-radius: #{$border-radius-md};
  }
}

.card-title-block {
  @include media-breakpoint-up(lg) {
    max-width: 300px;
    width: 30%;
  }

  @include media-breakpoint-up(xxl) {
    width: 100%;
  }
}
