// ===== radio & checkbox =====
.form-check {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;

  .form-check-input {
    margin-top: 0;

    &:checked[type='radio'] {
      background-color: #{$light};
    }

    &:disabled {
      background-color: $natural-75;
      border-color: $natural-75;
    }

    &:invalid,
    &.is-invalid {
      background-color: $danger-90;
    }
  }
}

// ===== form floating =====
.form-floating {
  border-radius: 8px;

  // label
  & > label {
    color: $dark;
  }
  & .form-control:focus ~ label,
  & > .form-control:not(:placeholder-shown) ~ label {
    color: $natural-50;
  }

  // textarea
  & > textarea.form-control {
    height: 160px;

    & ~ label {
      white-space: normal;
    }

    &:focus ~ label,
    &:not(:placeholder-shown) ~ label {
      max-width: calc(100% / 0.85);
      white-space: nowrap;
    }
  }
}

// ===== error text =====
.invalid-feedback {
  display: flex !important;
  align-items: center;
  gap: 4px;
  padding: 0 8px;
  font-size: 12px;
  background: $danger-90;

  &::before {
    content: 'error';
    font-family: 'Material Symbols Outlined';
    font-size: 12px;
    line-height: 1;
  }
}
