.tag {
  --tag-color: #{$natural-50};
  --tag-bg: #{$light};
  --tag-border-color: #{$natural-85};

  display: inline-block;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: var(--tag-color);
  background-color: var(--tag-bg);
  border: 1px solid var(--tag-border-color);
  border-radius: $border-radius-sm;
}

.tag-danger {
  --tag-color: #{$light};
  --tag-bg: #{$danger};
  --tag-border-color: #{$danger};
}
