.profile-title {
  @include media-breakpoint-up(lg) {
    max-width: 300px;
    width: 30%;
  }

  @include media-breakpoint-up(xl) {
    width: 100%;
  }
}

.profile-avatar {
  width: 120px;
  height: 120px;
}
